/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    border-radius: 50%; /* Make the image round */
}

h1 {
    color: #333;
}

section {
    max-width: 800px; /* Limit content width */
    margin: 0 auto; /* Center content */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

ul {
    list-style: none; /* Remove list bullets */
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
